src/main/java/com/epam/vaigandt/entity/visualParametersType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.example.com/gems"
            xmlns="http://www.example.com/gems">


<xsd:complexType name="visualParametersType">
    <xsd:sequence>
        <xsd:element name="color" type="xsd:string"/>
        <xsd:element name="transparency" type="xsd:int"/>
        <xsd:element name="edgeNumber" type="xsd:int"/>

    </xsd:sequence>
</xsd:complexType>
</xsd:schema>